
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/default_layout.cshtml";
}

<!-- breadcrumb area start  -->
<div id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" id="sp-breadcrumb">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <ul class="breadcrumb">
                                <li><i class="fa fa-home"></i></li>
                                <li class="active"><a href=""><span style="font-size:20px"><h6>GİRİŞ SAYFASI</h6></span></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area End  -->
<!-- Loging area Start  -->
<div class="loging-areas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2"></div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="login-users" style="background-color:coral">
                    <form action="/Home/Giris" id="com-form-login" method="post">
                        <fieldset class="userdata content">
                            <h2>ÜYE GİRİŞİ </h2>
                            <p>ÜYELİĞİNİZ VARSA LÜTFEN GİRİŞ YAPINIZ </p>
                            <ul class="form-list">
                                <li>
                                    <label class="required"><em>*</em>Email:</label>
                                    <div class="input-box" >
                                        <input type="email" placeholder="Email" class="inputbox" name="email" style="width:725px;height:35px">
                                    </div>
                                </li>
                                <li>
                                    <label class="required"><em>*</em>Password:</label>
                                    <div class="input-box" id="com-form-login-password">
                                        <input type="password" placeholder="Password" class="inputbox" name="password" >
                                    </div>
                                </li>
                                <li id="com-form-login-remember">
                                    <input type="checkbox" value="yes" class="inputbox" name="remember" id="remember">
                                    <label for="remember">Remember me</label>
                                </li>
                            </ul>
                        </fieldset>
                        <div class="buttons-set">
                            <a href="/Home/UyeOl"> <input type="button" value="Üye Ol" class="vina-button" name="Submit"></a>
                            <input type="submit" value="Giriş Yap" class="vina-button" name="Submit">
                            <a href="login.html#">Forgot your username?</a>
                            <a href="login.html#">Forgot your password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Loging area area End  -->
